PORT=4000
MONGODB_URI=mongodb://localhost:27017/he_thong_tour_du_lich
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_EMAIL=admin@travel.vn
ADMIN_PASSWORD=Admin@12345
